@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <strong>Request ID:</strong> <code>@Context?.TraceIdentifier</code>
</p>

<p>Development mode displays detailed error information. Switch to <strong>Release</strong> mode to display user-friendly error messages.</p>
